<!DOCTYPE html>
{% load staticfiles %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_1.css' %}" />
</head>
<body>
    <h2>Nama: {{ name }}</h2>
    <div>
        <img src='https://gitlab.com/michael09/ppw2018/raw/master/lab_1/static/media/UserPhoto.jpg' width="250"; height="300">
    </div>
    <div id="sendiri">
        NPM: {{ npm }} <br>
        Umur: {{ age }} <br>
        Tempat kuliah: {{ kuliah }} <br>
        Hobi :
        <br>
        {% for h in hobi %}
        <li>{{ h }}</li>
        {% endfor %}
    </div>
    <br>
    <div>
        Deskripsi saya:
        <p>
            {{ deskripsi }}
        </p>
    </div>
    <br><hr color="red"><br>
<div id="gema">
    <font size="5" color="green">Nama          : Gema Pratama Aditya</font><br />
      <font size="5" color="blue">NPM           : 1706040031</font><br />
      <font size="5" color="green">Tempat kuliah : Fakultas Ilmu Komputer, Universitas Indonesia</font><br />
      <font size="5" color="blue">Hobi          : Bermain Pump it Up</font><br />
      <br />
      <br />
      <font size="5" color="green">Deskripsi diri: <br/>Halo, saya mahasiswa semester 3 dari Fakultas Ilmu Komputer,
          Universitas Indonesia. Saya mempunyai hobi bermain rhythm game "PUMP IT UP",
          tempat bermain game itu yang paling sering saya kunjungi adalah di FunCity di lantai dasar MargoCity Depok.
          Selain itu saya juga sering melihat-lihat
          video di YouTube tentang ngoding. Saya bisa membaca dan menulis katakana dan hiragana.</font><br />

    <img src="http://gemapratama-8.herokuapp.com/picture.jpg" width="200" height="100">
</div>
    <br>
    <br>
    <hr color="red">
    <br>
<div id="yusuf">
    <br>Muhammad Yusuf Harahap
    </h1>
    <p>
      My student number is 1706040170.<br>
      I study Computer Science at Universitas Indonesia.<br>
      My hobby is graphic design.<br>
      I am 19 years old.<br>
      <br><br>
      My name is Muhammad Yusuf Harahap.<br>
      I live in Depok, and I'm a college student at Universitas Indonesia.<br>
      I'm not really a special person, just a student who likes to do graphic design.<br>
      <br><br>
      You can follow me on instagram @myusufharahap.
    </p>
</div>
</body>
</html>
